.bungalow_main {
    position: relative;
    top: 10vh;
}

.bungalow_main_titulo {
    width: 100%;
    height: 50vh;    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bungalow_main_titulo_opacidad {
    width: 100%;
    height: 50vh;
    background-color: #33333371;

}

.bungalow_main_titulo h1 {
    font-style: italic;
    font-size: 4rem;
    font-weight: bold;
    background: none;
    color: #f1e6d2;
    padding: 20% 0 0 5%;
}

.bungalow_main .swiper {
    width: 90%;
    margin: 3rem 5%;
}

.swiper-wrapper, .swiper-slide {
    background: none;
}

.swiper-pagination {
    background: none;
}

.swiper-button-prev, .swiper-button-next {
    background: none;
    color: #333333;
}


.swiper img {
    width: 100%;
    object-fit: cover;
    object-position:  center center;
}

h2 {
    text-align: center;
}

.bungalow_main_comodidades_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 3rem 10% 2rem 10%;
}

.bungalow_main_comodidades_list li {
    position: relative;
}

.bungalow_main_comodidades_list li svg{
    width: 1.5rem;
    height: 1.5rem;
    margin: 1rem 0.5rem;
}

.bungalow_main_comodidades_list li .nombre_icono.oculto {    
    display: none;
}

.bungalow_main_comodidades_list li .nombre_icono.visible {
    background-color: #254b5e;
    color: white;
    display: block;
    position: fixed;
    z-index: +1;
    text-align: center;
}

.bungalow_main .video iframe{
    width: 100vw;
    height: calc(100vw/1.77);
}

.bungalow_main p {
    font-size: 1.2rem;
    text-align: center;
    margin: 2rem;
}

.bungalow_main_form {
    padding: 2rem 0;
    background-color: #4697b4;
}

.bungalow_main_form_usuario, .bungalow_main_form label, .bungalow_main_form input {
    background-color: #4697b4;
}
.bungalow_main_form_usuario {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.bungalow_main_form h2 {
    text-align: center;
    background: none;
    margin-bottom: 2rem;
}

.nombre, .nombre input, .apellido, .apellido input,
.email, .email input, .dni, .dni input{
    font-size: 1.3rem;
    font-weight: bolder;
    height: 2rem;
    width: 50%;
    margin-bottom: 1rem;
}

input::placeholder {
    font-size: 1rem;
}

label.ocupantes {
    font-weight: bold;
    line-height: 2rem;
}

select.ocupantes {
    height: 2rem;
    width: 2rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}

.nombre, .apellido, .email, .dni {
    width: 25%;
}

#nombre, #apellido, #email, #dni {
    background-color: #6b9eb0;  
    width: 60%;
    height: 1.5rem;
    border-radius: 1rem;
    padding: 0 0.5rem;
    box-shadow: 3px 2px 10px 2px #333333;
}

#nombre::placeholder, #apellido::placeholder, #email::placeholder, #dni::placeholder {
    color: #f1e6d2;
}

.precio .separador {
    height: 1px;
    background-color: #333333;
    width: 40%;
    margin: 0 30%;
}

.terminos {
    margin: 3rem 0;
}

.total {    
    background-color: #4697b4;
}

.total p {
    background-color: #4697b4;
    margin-bottom: 0.2rem;
    font-size: 1.3rem;
}

.total .separador {
    height: 0.2rem;
    width: 40%;
    margin: 0 30% 1rem 30%;
    background-color: #254b5e;
}

.terminos ul {
    list-style: circle;
    margin-left: 2rem;
    padding: 0 0.5rem;
}

.terminos ul li {
    margin: 0.5rem 0;
}

.ubicacion {
    margin: 2rem;
}

img.swal2-image {
    margin: 0;
    width: auto !important;
    height: auto;
    object-position: center center;
}

.custom-popup {
    padding: 0;
    max-width: 80%;
    height: auto;
    width: max-content !important;
}

@media (min-width: 768px) {

    .bungalow_main_titulo h1 {
        font-size: 5rem;
    }
    
    .bungalow_main .swiper {
        width: 60%;
        margin: 3rem 20%;
    }
    
    form {
        max-width: 80%;
        margin-left: 10%;
    }

    .bungalow_main_form_usuario {
        width: 80%;
        margin: auto 10%;
    }
    
    .custom-popup{
        padding: 0;
        width: 50%;
    }

    img.swal2-image {
        width: 100%;
    }
}



@media (min-width: 992px) {
    .bungalow_main_form_usuario {
        width: 60%;
        margin: auto 20%;
    }

    .precio .separador {
        width: 30%;
        margin: 0 35%;
    }

    .total .separador {
        width: 30%;
        margin: 0 35% 1rem 35%;
    }
}

@media (min-width: 1200px) {

    .bungalow_main_titulo {
        height: 70vh;    
        background-position: center 90%;
    }

    .bungalow_main_titulo_opacidad {
        height: 70vh;
    }

    .bungalow_main_titulo h1 {
        padding: 10% 0 0 5%;
    }

    .bungalow_main .swiper {
        width: 40%;
        margin: 3rem 30%;
    }

    .bungalow_main .video iframe{
        width: 80vw;
        height: calc(80vw/1.77);
        margin-left: 10vw;
    }
}