.bungalow_main {
    position: relative;
    top: 10vh;
}

.bungalow_main_titulo {
    width: 100%;
    height: 50vh;    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bungalow_main_titulo h1 {
    font-style: italic;
    font-size: 2.5rem;
    font-weight: bold;
    background: none;
    -webkit-text-stroke: 1px #254b5e;
    color: #f1e6d2;
    padding: 10% 0 0 5%;
}

.bungalow_main .swiper {
    width: 90%;
    margin: 3rem 5%;
}

.swiper-wrapper, .swiper-slide {
    background: none;
}

.swiper-pagination {
    background: none;
}

.swiper-button-prev, .swiper-button-next {
    background: none;
    color: #333333;
}


.swiper img {
    width: 100%;
    object-fit: cover;
    object-position:  center center;
}

h2 {
    text-align: center;
}

.bungalow_main_comodidades_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 3rem 10% 2rem 10%;
}

.bungalow_main_comodidades_list li {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem 0.25rem;
}

.bungalow_main_comodidades_list li img {
    width: 100%;
    height: 100%;
}

.bungalow_main p {
    font-size: 1.2rem;
    text-align: center;
    margin: 2rem;
}

.bungalow_main_form {
    padding: 2rem 0;
    background-color: #4697b4;
}

.bungalow_main_form_usuario, .bungalow_main_form label, .bungalow_main_form input {
    background-color: #4697b4;
}
.bungalow_main_form_usuario {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.nombre, .nombre input, .apellido, .apellido input,
.email, .email input, .dni, .dni input {
    font-size: 1.2rem;
    font-weight: bolder;
    height: 2rem;
    width: 50%;
}

.nombre, .apellido, .email, .dni {
    width: 25%;
}

#nombre, #apellido, #email, #dni {
    background-color: white;
    width: 60%;
    height: 1.5rem;
}

@media (min-width: 768px) {
    
    .bungalow_main .swiper {
        width: 60%;
        margin: 3rem 20%;
    }
    
    form {
        max-width: 80%;
        margin-left: 10%;
    }
}

@media (min-width: 992px) {
    .slick-arrow {
        display: block;
    }
}