.inmuebles_main {
    position: relative;
    top: 10vh;
}

.inmuebles_main_titulo {
    width: 100%;
    height: 50vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.inmuebles_main_titulo h1 {
    font-style: italic;
    font-size: 2.5rem;
    font-weight: bold;
    background: none;
    color: #f1e6d2;
    padding: 10% 0 0 5%;
}

.swiper {
    width: 90%;
    margin: 3rem 5%;
}

.swiper-wrapper, .swiper-slide {
    background: none;
}

.swiper-pagination {
    background: none;
}

.swiper-button-prev, .swiper-button-next {
    background: none;
    color: #333333;
}


.swiper img {
    width: 100%;
    object-fit: cover;
    object-position:  center center;
}

.inmuebles_main h2 {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
}

.inmuebles_main p {
    font-size: 1.2rem;
    width: 90%;
    margin: 1rem 5%;
}

img.swal2-image {
    margin: 0;
}

.desc ul {
    margin: 2rem 10%;
    list-style: circle;
}

.desc ul li {
    margin: 0.5rem 0;
}

.desc p:last-child {
    font-size: 1rem;
}

@media (min-width: 768px) {
    .swiper {
        width: 60%;
        margin: 3rem 20%;
    }
}

@media (min-width: 1200px) {

    .inmuebles_main_titulo{
      height: 60vh;
      background-position: center bottom;
    }
  
    .inmuebles_main_titulo h1{
      font-size: 3rem;
    }    

    .inmuebles_main .swiper {
        width: 40%;
        margin: 3rem 30%;
    }

    .inmuebles_main .swal2-container .custom-popup {
        height: 60vh;
        width: 40vw;
    }

    .custom-content {
        height: 100%;
    }

}