.inmuebles_main {
    position: relative;
    top: 10vh;
}

.inmuebles_main_titulo {
    width: 100%;
    height: 50vh;
    background-image: url(../assets/bungalow3.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.inmuebles_main_titulo h1 {
    font-style: italic;
    font-size: 2.5rem;
    font-weight: bold;
    background: none;
    -webkit-text-stroke: 1px #254b5e;
    color: #f1e6d2;
    padding: 10% 0 0 5%;
}

.swiper {
    width: 90%;
    margin: 3rem 5%;
}

.swiper-wrapper, .swiper-slide {
    background: none;
}

.swiper-pagination {
    background: none;
}

.swiper-button-prev, .swiper-button-next {
    background: none;
    color: #333333;
}


.swiper img {
    width: 100%;
    object-fit: cover;
    object-position:  center center;
}

.inmuebles_main h2 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}

.inmuebles_main p {
    font-size: 1.2rem;
    width: 90%;
    margin: 1rem 5%;
}

@media (min-width: 768px) {
    .swiper {
        width: 60%;
        margin: 3rem 20%;
    }
}