.termas_main {
    position: relative;
    top: 10vh;
  }
  
  .termas_main_titulo {
    width: 100%;
    height: 50vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .termas_main_titulo h1 {
    font-style: italic;
    font-size: 2.5rem;
    font-weight: bold;
    background: none;
    color: #f1e6d2;
    padding: 10% 0 0 5%;
  }
  
  .termas_main_list_actividad {
    width: 90%;
    margin: 5%;
    text-align: center;
  }

  .termas_main_list_actividad .actividad_desc {
    display: flex;
    flex-flow: column nowrap;
  }
  
  .termas_main_list_actividad .actividad_desc h2 {
    color: #254b5e;
    font-size: 2.5rem;
  }
  
  .termas_main_list_actividad .actividad_desc h3 {
    margin: 2rem;
    font-size: 1.5rem;
  }
  
  .termas_main_list_actividad .actividad_desc p {
    margin-bottom: 1rem;
  }
  
  .termas_main_list_actividad .actividad_imagen {
    width: 100%;
    overflow: hidden;
    height: 50vh;
  }
  
  .termas_main_list_actividad .actividad_imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (min-width: 768px) {
    .termas_main_list {
      width: 90%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 45vh 45vh 45vh;
      grid-template-areas: 
      "quienes termales"
      "piscinas resto"
      "regionales instalaciones";
      margin: 10% 5%;
    }

    .quienes {
      grid-area: quienes;
    }

    .termales {
      grid-area:  termales;
    }

    .piscinas {
      grid-area: piscinas;
    }

    .resto {
      grid-area: resto;
    }

    .regionales {
      grid-area: regionales;
    }

    .instalaciones {
      grid-area: instalaciones;
    }
  
    .termas_main_list_actividad {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      height: 100%;
      margin: 0;
      align-items: center;
    }
  
    .termas_main_list_actividad .actividad_desc {
      width: 50%;
      height: 100%;
    }
  
    .termas_main_list_actividad .actividad_imagen {
      width: 50%;
      height: 100%;
    }
  
    .termas_main_list_actividad .actividad_imagen img {
      width: 100%;
      height: 100%;
    }
  
    .termas_main_list_actividad.invertido {
      flex-direction: row-reverse;
    }
  }
  
  @media (min-width: 1200px) {
    
    .termas_main_titulo{
      height: 60vh;
    }

    .termas_main_titulo h1{
      font-size: 3rem;
    }

    .termas_main_list {
      width: 100%;
      margin: 5% 0;
    }
  }